@import "../../../styles/variables.modules";

.filter_cont {
  border: $border-default;
  border-radius: $border-radius-default;
  padding: 27px 21px;
  background-color: #e2e2e2b2;
  min-width: 300px;
  max-height: 620px;
  & div {
    margin-top: 8px;
  }
  input {
    border: none;
    border-radius: $border-radius-default;
    background-color: #fff;
    font-size: $fontSize-default - 2px;
    padding: 2px 5px;
  }

  .filter_option_cont {
    div {
      margin: 0;
      padding: 0;
      input {
        float: left;
        margin-top: 5px;
      }
      p {
        padding-left: 20px;
      }
    }
  }
}
