@import "../../../styles/variables.modules";

.body_cont{
    margin: 3rem;
    h2{
        font-weight: $fontWeight-black;
        font-size: $fontSize-medium - 6px;
    }
}
.search_cont{
    
    input{
        border-radius: $border-radius-default;
        border: $border-default;
        width: 1200px;
        height: 100px;
        font-size: $fontSize-huge;
        font-weight: 100;
        padding: 30px 28px;
    }
    button{
        background-color: $color-btn-green;
        width: 200px;
        height: 80px;
        border-radius: $border-radius-default;
        font-size: $fontSize-big + 6px;
        font-weight: $fontWeight-medium;
        margin-left: 30px;
        
    }
}

.project_list_cont{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 50px;
    .project_cont{
        border: $border-default;
        border-radius: $border-radius-default;
        padding: 30px 15px;
        width: 450px;
        height: 250px;
        & *{
            margin-top: 8px;
        }
    }
}

.project_page_switcher{
    text-align: center;
    button{
        font-size: $fontSize-big;
        border: $border-default;
        padding: 3px 8px;
    }
}

.filter_cont{
    margin-right: 3rem;
    border: $border-default;
    border-radius: $border-radius-default;
    padding: 27px 21px;
    float: left;
    background-color: #E2E2E2B2;
    height: 70vh;
    & *{
        margin-top: 8px;
    }
}