// colors

$color-accent: #000000;
$color-secondary: #fff;
$color-primary: #61ff00;
$color-background: #282c33;

// variables
$font: Inter;

$fontSize-default: 16px;
$fontSize-medium: 24px;
$fontSize-big: 30px;

$fontWeight-regular: 400;
$fontWeight-medium: 500;
$fontWeight-semibold: 600;

$lineHeight-low: 1;
$lineHeight-default: 1.5;
$lineHeight-medium: 1.6;

$transition-default: 300ms;
