// colors

$color-accent: #000000;
$color-secondary: #fff;
$color-primary: #61ff00;
$color-background: #fff;//#282c33
$color-grey-background: #C0C0C0;
$color-blue: #514eff;
$color-bg-form: rgba(255, 255, 255, 30%);

// button
$color-btn-accent: #ffdc60f2;
$color-btn-user: #363636;

// border variables
$border-radius-default: 25px;
$border-default: 1px black solid;

// variables
$font: Inter;

$fontSize-default: 16px;
$fontSize-medium: 24px;
$fontSize-big: 30px;
$fontSize-huge: 48px;

$fontWeight-regular: 400;
$fontWeight-medium: 500;
$fontWeight-semibold: 600;
$fontWeight-bold: 700;
$fontWeight-black: 900;

$lineHeight-low: 1;
$lineHeight-default: 1.5;
$lineHeight-medium: 1.6;

$transition-default: 300ms;
