@import "../../styles/variables.modules";

.profileBox {
  padding: 60px 0px;
  .profileTitle {
    padding: 5px 0px;
  }
  .profileDescription {
    border: 1px solid black;
    display: inline;
    padding: 5px;
    border-radius: 10px;
  }
}

.order {
  .titleBox {
    display: flex;
    margin-left: 200px;
  }
  .title {
    font-size: $fontSize-big;
    font-weight: $fontWeight-bold;
    p {
      margin-right: 60px;
    }
  }
  .content {
    margin-top: 20px;
    display: flex;
    .fieldset {
      display: flex;
      flex-direction: column;
      min-width: 200px;
      label {
        width: fit-content;
        & + label {
          margin-top: 8px;
        }
        img {
          margin-left: 10px;
        }
      }
      input {
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .cardBox {
      display: -webkit-box;
      justify-content: center;
      gap: 30px;
      overflow-x: auto;
    }
  }
}
