@import "../../styles/variables.modules";

.order {
  margin-top: 30px;
  .titleBox {
    display: flex;
    margin-left: 200px;
  }
  .title {
    font-size: $fontSize-big;
    font-weight: $fontWeight-bold;
    p {
      margin-right: 60px;
    }
  }
  .content {
    margin-top: 20px;
    display: flex;
    .cardBox {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
      .card {
        border: $border-default;
        border-radius: $border-radius-default;
        padding: 15px 40px 20px 30px;
        width: 450px;
        height: 250px;
        .cardTitle {
          font-weight: $fontWeight-bold;
          font-size: $fontSize-medium;
          max-width: 370px;
        }
        .cardDescription {
          margin-top: 15px;
        }
      }
    }
  }
  .fieldset {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    label {
      width: fit-content;
      & + label {
        margin-top: 8px;
      }
      img {
        margin-left: 10px;
      }
    }
    input {
      margin-right: 10px;
      cursor: pointer;
    }
  }
}
