@import "../../../styles/variables.modules";



.project_info{
    display: flex;
    flex-direction: column;
    border-bottom: $border-default;
    h2{
        font-size: $fontSize-medium;
        margin-bottom: 8px;
        font-weight: $fontWeight-bold;
    }
}

.student_letters{
    width: 60%;
    margin: 2rem auto;
    text-align: center;
    h2{
        font-size: 20px;
        font-weight: 600;
    }
    & > h2{
        margin-bottom: 3rem;
    }
    .letter{
        text-align: left;
        background-color: #D9D9D980;
        border-radius: $border-radius-default;
        padding: 16px;
        margin-top: 20px;
        position: relative;
        h2, p{
            width: 70%;
        }
        .buttons{
            display: flex;
            flex-direction: column;
            float: right;
            position: absolute;
            top: 15%;
            right: 5%;
            button{
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
        
    }
}
.new_letter_cont{
    text-align: center;
    button{
        font-size: $fontSize-big;
        font-weight: $fontWeight-bold;
        border: $border-default;
        border-radius: $border-radius-default;
        padding: 6px 100px;
        width: 70%;
    }
}